div.watable_navbar
{
	margin: 0;
}

form.watable table th.id_cell,
form.watable table td.id_cell
{
	width: 1px;
}

form.watable table td
{
	vertical-align: middle;
}

form.watable table td .btn
{
	padding: 0;
	margin: 0;
}

form.watable table td textarea
{
	height: 3.4rem;
	width: 100%;
}

form.watable div.table-responsive
{
	overflow-x: visible;
}



