@CHARSET "UTF-8";

@import url("waform.css");
@import url("watable.css");
@import url("wamenu.css");

html
	{
	}
	
body
	{
	margin: 5rem;
	margin-top: 1rem;
	}
	
div.waapplication_title
{
	font-size: 2rem;
	margin-left: 6px;
	cursor: pointer;
}

div.waapplication_subtitle
{
	margin-left: 6px;
}

div.waapplication_version_data
{
	margin-left: 6px;
	clear: both;
}

div.waapplication_back_button,
div.waapplication_close_page_button,
div.waapplication_message
{
	margin: 4rem 6px;
	padding: 0;
}

div.waapplication_help_text,
div.waapplication_generic_help_link
{
	margin: 4rem 6px;
}

